<div style="background: #f00; color: #fff; margin: 5px 0 20px; padding: 10px">
  <strong>OBS! Det här är inte <a href="http://www.riksdagen.se/" style="color:#FFF">Riksdagens riktiga webbplats</a>.</strong>
  Den här webbplatsen är på skämt.
</div>
